[Desktop Entry]
Name=Gottet
Name[ca]=Gottet
Name[cs]=Gottet
Name[de]=Gottet
Name[es]=Gottet
Name[ko]=고테트
Name[lt]=Gottet
Name[ms]=Gottet
Name[nl]=Gottet
Name[pl]=Gottet
Name[ro]=Gottet
Name[ru]=Gottet
Name[tr]=Gottet
Name[vi]=Gottet
Name[zh_TW]=Gottet
GenericName=Falling Blocks Game
GenericName[ca]=Joc de blocs que cauen
GenericName[cs]=Hra s padajícími kostkami
GenericName[de]=Ein Spiel der fallenden Steine
GenericName[es]=Juego de bloques que caen
GenericName[he]=משחק לבנים נופלות
GenericName[ko]=벽돌 떨구기 게임
GenericName[lt]=Krentančių Blokų Žaidimas
GenericName[ms]=Permainan Jatuhan Blok
GenericName[nl]=Vallende blokken spel, tetris kloon
GenericName[pl]=Gra w spadające klocki
GenericName[ro]=Joc de blocuri căzătoare
GenericName[ru]=Игра с падающими блоками
GenericName[tr]=Düşen Kutular Oyunu
GenericName[vi]=Màn chơi đổ khối
GenericName[zh_TW]=不斷掉落方塊的遊戲
Comment=Clear the board of falling blocks
Comment[cs]=Vyprázdněte desku od padajících kostek
Comment[he]=טהר את הלוח של לבנים נופלות
Comment[ko]=벽돌이 떨어지는 판을 청소합니다
Comment[lt]=Išvalykite krentančių blokų plokštę
Comment[ms]=Koosngkan papan yang mengandungi blok-blok yang turun
Comment[ro]=Curăţaţi tabela de piesele căzătoare
Comment[zh_TW]=清除不斷在版面上落下的方塊
Exec=gottet
Icon=gottet
Terminal=false
Type=Application
Categories=Qt;Game;ArcadeGame;
