[Desktop Entry]
Name=Gottet
Name[ca]=Gottet
Name[de]=Gottet
Name[es]=Gottet
Name[he]=Gottet
Name[ko]=고테트
Name[ms]=Gottet
Name[pl]=Gottet
Name[ro]=Gottet
Name[ru]=Gottet
Name[tr]=Gottet
Name[vi]=Gottet
GenericName=Falling Blocks Game
GenericName[ca]=Joc de blocs que cauen
GenericName[de]=Ein Spiel der fallenden Steine
GenericName[es]=Juego de bloques que caen
GenericName[he]=משחק לבנים נופלות
GenericName[ko]=블록 떨어트리기 게임
GenericName[ms]=Permainan Jatuhan Blok
GenericName[pl]=Gra w spadające klocki
GenericName[ro]=Joc de blocuri căzătoare
GenericName[ru]=Игра с падающими блоками
GenericName[tr]=Düşen Kutular Oyunu
GenericName[vi]=Màn chơi đổ khối
Exec=gottet
Icon=gottet
Terminal=false
Type=Application
Categories=Qt;Game;ArcadeGame;
